
SERVER_ID = 
WALNUTT_ID = 
BOT_TOKEN = 
CATEGORY_ID = 
MENTOR_ID = 
ORGANISERS_ID = 
ROLE_CHANNEL_ID = 
ROLE_MESSAGE_ID = 
MATCH_OUTCOME_CHANNEL_ID = 

SCHEDULE_CHANNEL_ID = 
RING_A_MESSAGE_ID = 
RING_B_MESSAGE_ID = 
RING_C_MESSAGE_ID = 
RING_D_MESSAGE_ID = 


CHALLONGE_USERNAME = 
CHALLONGE_API_KEY = 
OPENS_ID = 
STANDARD_ID = 
